<!--
File Name: Footer.ejs
Author's name: Kayla Wiest
Web site name: kaylawiest.com
File description: Partial content to be included to bottom of content pages
-->

</div>
<footer>
   <span>&copy 2016 Kayla Wiest</span>
</footer>

</body>
</html>