<!--
File Name: header.ejs
Author's name: Kayla Wiest
Web site name: kaylawiest.com
File description: Partial content to be included to top of content pages
-->

<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>



    <link rel="stylesheet" href="/stylesheets/style.css" />



</head>
<body>

<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/project">WORKS</a></li>
        <li><a href="/service">SERVICES</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</nav>
