<!-- header -->
<%- include partials/header.ejs %>

<div class="container">

<h3>About Kayla</h3>
<img id="profile" src="http://placehold.it/400x350">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut rhoncus nulla, a hendrerit nisl. Etiam finibus ligula turpis, quis pharetra justo sodales tempus. Duis euismod mi a ex condimentum, ut bibendum lectus rutrum. Donec nulla eros, fringilla ac facilisis vel, tincidunt volutpat augue. Mauris pellentesque vel metus a ultrices. In hendrerit, neque eget sollicitudin varius, nisl quam gravida nulla, ut ornare arcu mi id sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Quisque lobortis mattis lacinia. Duis sit amet porta neque. Nullam at justo at leo tempus feugiat. Etiam maximus augue non massa posuere dapibus. Fusce sit amet posuere nisl, vitae eleifend arcu. In cursus scelerisque commodo. Nulla ac arcu dignissim, mollis arcu eget, condimentum nisi.</p><br /><br />
<p>Donec rhoncus semper sapien nec volutpat. Donec vestibulum massa tortor, quis facilisis elit tempus nec. Vivamus tincidunt semper mauris, sed vestibulum risus vulputate sed. Sed dictum eu dolor nec convallis. In hac habitasse platea dictumst. Vivamus non enim ultricies, fringilla massa a, efficitur dui. Mauris laoreet mauris et lorem aliquet consectetur. Aenean pulvinar tempor auctor. Etiam ac libero vel tellus pharetra volutpat. In hac habitasse platea dictumst. Vestibulum in elit nulla. Suspendisse mollis ex tellus, vitae pulvinar nisi aliquet eget. Maecenas laoreet porttitor est, quis cursus nibh eleifend ac.</p>

<!-- Footer -->
<%- include partials/footer.ejs %>