<!--
File Name: about.ejs
Author's name: Kayla Wiest
Web site name: kaylawiest.com
File description: Content page for 'About'. Displays blog about Kayla W.
-->

<!-- Header -->
<%- include partials/header.ejs %>
    <div class="container">

<img id="profile" src="/images/kayla.png" height="400px">
    <h2>ABOUT KAYLA</h2>
    <p>I am a first year Computer Programmer student at Georgian College and currently seeking a winter co-op position where I am able to challenge myself and apply my communication and problem solving skills.</p><br /><br />
    <p>With my background in Graphic Design and Web Development, I have had many opportunities to work in the field of Web Design with freelance projects. From creating logos to designing templates for web application, I have use these experiences to future extend myself in Web Development and shape the standards on how I design and apply code today. I also have a firm understanding on developing web code with HTML5 and CSS5 and have developing skills with JavaScript, PHP and MySQL, that have advanced my knowledge of Web Development.</p><br /><br />
    <p>Through my studies, I have had ample opportunities to improve my problem solving abilities, interpersonal and leadership skills. From working on group or individual projects to helping other students understand course content, I have learned to adapt to different situations and handle them in a professional manor. I have also demonstrated my abilities to learning quickly with new programming languages and techniques, as well as, applying my creative mind to innovating solution and ideas.</p><br /><br />
    <p>In the work field, I have learned the values of customer service and the important role it plays. To decipher a customer's need and work towards a swift and permitted solution to ensure a high quality of service. This result demonstrates the importance of presentation and work ethics.</p>

<!-- Footer -->
<%- include partials/footer.ejs %>