<!--
File Name: error.ejs
Author's name: Kayla Wiest
Web site name: kaylawiest.com
File description: Default error page
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
