<!-- header -->
<%- include partials/header.ejs %>

<div class="image">
  <div class="caption">
    <span class="border">KAYLA WIEST</span>
  </div>
</div>


<!-- Footer -->
<%- include partials/footer.ejs %>