<!-- header -->
<%- include partials/header.ejs %>

<div class="container">

    <h2>CORNERSTONE CONSULTING</h2>
    <p>CornerStone Consulting is a business featured in a small rural community but has connections all over the western coast of Canada. Since their foundation, I have designed and developed their business branding and web assets. As of current, I am undergoing a new design transition with ther web design using HTML, CSS, Javascript, and PHP.</p>
    <br/><br/>
    <img src="/images/cs.jpg" width="1425px;" />

    <h2>Woole Owl</h2>
    <p></p>
    <br/><br/>
    <img src="/images/wool.jpg" width="1425px;" />

    <h2>PHP WEB APPLICAITON - SCHOOL PROJECT</h2>
    <p>This site is a creation of a Content Management Site (similar to WordPress) that allows users to manage their own web site content and navigation. By building a password protected admin site with the function of allowing admin users to add, edit, select and delete users and web page records in a database.</p>
    <br/><br/>
    <img src="/images/php.jpg" width="1425px;" />

    <h2>SAINT MATTHEW LUTHERAN CHURCH</h2>
    <P>Developed a new template design for a religious community that would bring a fresh modern look to their website. My design is largely influenced by the culture of religious faith and the sumbols that represent positive aspects in the community.</P>
    <br/><br/>
    <img src="/images/smlcHome.jpg" width="1425px;" /><br/><br/>
    <img src="/images/smlcEvent.jpg" width="1425px;" /><br/><br/>
    <img src="/images/smlcTitle.jpg" width="1425px;" />
    <div style="padding-bottom:4em;"></div>
<!-- Footer -->
<%- include partials/footer.ejs %>