<!-- header -->
<%- include partials/header.ejs %>

<div class="container">

    <h2>CORNERSTONE CONSULTING</h2>
    <p>CornerStone Consulting is a business featured in a small rural community but has connections all over the western coast of Canada. Since their foundation, I have designed and developed their business branding and web assets. As of current, I am undergoing a new design transition with ther web design using HTML, CSS, Javascript, and PHP.</p>
    <p>View Live Preview</p>
    <img src="http://placehold.it/1425x350" >

    <h2>PHP WEB APPLICAITON - SCHOOL PROJECT</h2>
    <p>This site is a creation of a Content Management Site (similar to WordPress) that allows users to manage their own web site content and navigation. By building a password protected admin site with the function of allowing admin users to add, edit, select and delete users and web page records in a database.</p>
    <p>View Live Preview</p>
    <img src="http://placehold.it/1425x350" >

    <h2>SAINT MATTHEW LUTHERAN CHURCH</h2>
    <P>Developed a new template design for a religious community that would bring a fresh modern look to their website. My design is largely influenced by the culture of religious faith and the sumbols that represent positive aspects in the community.</P>
    <p>View Live Preview</p>
    <img src="http://placehold.it/1425x350" >
<!-- Footer -->
<%- include partials/footer.ejs %>