<!--
File Name: service.ejs
Author's name: Kayla Wiest
Web site name: kaylawiest.com
File description: Content page for 'Service'. Displays current skills and experiences
-->

<!-- Header -->
<%- include partials/header.ejs %>

<div class="container">

    <h2>Skill Sets</h2>
    <div class="box">
    <img class="skill" src="/images/skills/html.png" width="175px">
    <img class="skill" src="/images/skills/CSS.png" width="175px">
    <img class="skill" src="/images/skills/javascript.png" width="175px">

    <img class="skill" src="/images/skills/php.png" width="175px">
    <img class="skill" src="/images/skills/mysql.png" width="175px">
    <img class="skill" src="/images/skills/java.png" width="175px">
    </div>

    <div class="skillText">
        <h2>Programming</h2>
        <ul>
            <li>Creating and developing Java applications</li>
            <li>Relational database design and maintenance through MySQL</li>
            <li>Develop C++ Arduino projects and create circuit models</li>
            <li>Develop C# Window Form Applications using Visual Basic</li>
        </ul>
    </div>

    <div class="skillText">
        <h2>Web Design &amp Development</h2>
        <ul>
            <li>Designing and programming web applications through HTML5, CSS3, PHP and JavaScript</li>
            <li>Experience designing and programming web applications using nodejs and mongodb</li>
            <li>Experience deploying web applications to server through FTP </li>
        </ul>
    </div>

    <div class="skillText">
        <h2>Graphic Design</h2>
        <ul>
            <li>Creating and designing vector images with Adobe Illustrator</li>
            <li>Using Adobe Photoshop to create images for design projects</li>
            <li>Create advertisement publications using Adobe Indesign</li>
        </ul>
    </div>
<!-- Footer -->
<%- include partials/footer.ejs %>