<!-- header -->
<%- include partials/header.ejs %>

<div class="container">

    <h2>Skill Sets</h2>
    <img src="/images/skills/html.png" width="200px">
    <img src="/images/skills/CSS.png" width="200px">
    <img src="/images/skills/javascript.png" width="200px">

    <img src="/images/skills/php.png" width="200px">
    <img src="/images/skills/mysql.png" width="200px">
    <img src="/images/skills/java.png" width="200px">

<!-- Footer -->
<%- include partials/footer.ejs %>